<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order - Lexicon</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.css" crossorigin="anonymous" />
</head>

<body class="vilotBgColor success orderFinal">
    <div class="pageWrap">
        <!-- Header -->
        <div class="header rPos">
            <div class="headerBg"></div>
            <div class="overlayVilot"></div>
            <div class="grid rPos">
                <div class="row">
                    <div class="c2">
                        <div class="logo">
                            <a href="/"><%= image_tag "logo.png", alt: 'Lexicon' %></a>
                        </div>
                    </div>

                    <div class="c10">
                        <div class="navigation">
                            <ul>
                                <li>
                                  <%= mail_to support_email, "SUPPORT", class: 'primaryButton' %>&nbsp;
                                  <% if current_user -%>
                                    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "primaryButton" -%>
                                  <% else -%>
                                    <%= link_to "Log in", new_session_path(:user), class: 'primaryButton' %>
                                  <% end -%>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Content -->
        <div class="main rPos primaryColor">
            <div class="grid">
                <div class="row">
                    <div class="productHeader">
                        <div class="c8">
                            <h2>LEXICON MARKETING MATERIALS</h2>
                            <p class="removeTop green">* Ordering more than maximum quantity requires approval after order is placed.</p>
                        </div>

                        <div class="c1">
                          <p>Min. Quantity</p>
                        </div>

                        <div class="c1">
                          <p>Max. Quantity<span class='green'>*</span></p>
                        </div>

                        <div class="c2">
                          <p>Quantity</p>
                        </div>
                    </div>
                    <div class="clear"></div>

                    <%= form_for @order do |f| %>

                      <% if @order.errors[:base].present? %>
                        <div class="error-container">
                          <span class="error-msg"><%= @order.errors[:base].first -%></span>
                        </div>
                      <% end -%>

                      <div class="productList">
                          <div class="c12">
                              <div class="row">
                                <%= f.hidden_field :user_level_id %>
                                <%= f.fields_for :order_items do |order_item| %>
                                    <%= render partial: "order_item", locals: {f: order_item} -%>
                                <% end %>

                              </div>
                          </div>
                      </div>

                      <div class="clear"></div>
                      <div class="cartButton">
  	                    <div class="c12">
  	                      <%= f.submit "Add to Cart", id: "form-submit", style: "display:none;" %>
  		                    <a class="primaryButton addCart right white-color-btn cart-submit" href="#">Add to Cart</a>
  	                    </div>
                      </div>

                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="footer rPos">
        <div class="grid">
            <div class="row">
                <div class="c2">
                    <div class="footerLogo">
                        <%= image_tag "logo.png", alt: 'Lexicon' %>
                    </div>
                </div>
                <div class="c10">
                    <p>Corporate Headquarters: 8800 Technology Forest Place • The Woodlands, Texas 77381-1160</p>
                    <p>Phone: 281.863.3000 | Toll Free: 855.828.4651 | Fax: 281.863.8088</p>
                </div>
            </div>
        </div>
    </div>

    <div class="tooltip_templates hide">
        <span id="tooltip_content_info" class="tooltip_content">
            Minimum allowed value is .
        </span>
        <span id="tooltip_content_info_para" class="tooltip_content">
            Maximum Quantity is . Ordering more than requires approval after order is placed.
        </span>
    </div>


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".fancybox").fancybox({
                autoscale: false,
                position:'relative',
                hideOnContentClick: true
            })
        });
    </script>
</body>

</html>
