<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lexicon</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body class="transparent home welcompage">
    <div class="bodyBg"></div>
    <div class="overlayBlue"></div>
    <div class="pageWrap">
        <!-- Header -->
        <div class="header rPos">
            <div class="grid rPos">
                <div class="row">
                    <div class="c2">
                        <div class="logo">
                            <a href="/"><%= image_tag "logo.png", alt: 'Lexicon' %></a>
                        </div>
                    </div>

                    <div class="c10">
                        <div class="navigation">
                            <ul>
                                <li>
                                  <%= mail_to support_email, "SUPPORT", class: 'primaryButton' %>&nbsp;
                                  <% if current_user -%>
                                    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "primaryButton" -%>
                                    <%= link_to "Profile", new_change_password_path, class: "primaryButton secondaryColor" -%>
                                  <% else -%>  
                                    <%= link_to "Log in", new_session_path(:user), class: 'primaryButton' %>
                                  <% end -%>  
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Content -->
        <div class="main rPos primaryColor home-page-intro">
            <div class="grid">
                <div class="row">
                    <div class="c12">
                        <h1>Welcome to Lexicon Resource Center. </h1>

                        <p>This site will handle all of your resource material needs for <%= image_tag "xermelo-nobackround.png", class: "xermela-logo"%>.</p>
                        <p>If you should need assistance, please contact us using the support button.</p>
                        <p>All orders are shipped using Fed Ex ground delivery. If you need rush fulfillment please contact support.</p>
                        <%= link_to "Start Ordering Materials Now", new_order_path, class: 'primaryButton white-color-btn'%>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="footer rPos">
        <div class="grid">
            <div class="row">
                <div class="c2">
                    <div class="footerLogo">
                      <%= image_tag "logo.png", alt: 'Lexicon' %>
                    </div>
                </div>
                <div class="c10">
                    <p>Corporate Headquarters: 8800 Technology Forest Place • The Woodlands, Texas 77381-1160</p>
                    <p>Phone: 281.863.3000 | Toll Free: 855.828.4651 | Fax: 281.863.8088</p>
                </div>
            </div>
        </div>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>

</html>